.big-box{
    width:90%;
    height: 200px;
    background-color: lightblue; 
    border:2px solid maroon;

    margin: 25px auto;
    border-radius: 40px;
}

.task-content{
   max-width:50%;
   min-height:30px;

   margin-left:15px;
   margin-top:10px;
   margin-bottom: 10px;

   padding-left:25px;
   padding-top:5px;    

}

.desc-content{
    max-width:50%;
    min-height:30px;

    margin-left:15px;
    margin-top:10px;
    margin-bottom: 10px;

    padding-left:25px;
    
}

.buttonbox{
    display: flex;
    justify-content: end;
    align-items: center;
}

.delete{
    color: white;
    background-color: red;
    height:30px;
    width:33px;

    margin-right:10px
}