.main-div{
  position: fixed;
  background-color: rgb(240,240,240);

  min-width: 100%;
  min-height: 100vh;
}

.stuff-div{
  max-width: 70%;
  min-height: 75vh;
  background-color: white;

  border-radius: 40px;
  margin:100px auto;
 
}

.button-side{
  display: flex;
  justify-content: space-evenly;
}
